.article-wraper{
  margin:1.5% auto auto auto;
  width:70%;
  float:left;
}
.article-container{
  margin-bottom:2.5%;
  padding:1.5%;
  background:white;
}

.article-title{
  font-size:1.4vw;
  font-family: 'bronx';
  color:#313931;
  text-transform: uppercase;
}
.article-date{
  color:#C7C8CA;
  font-size:0.8vw;
  margin:0.5% 0px 1.5% 0px;
  font-family: 'Montserrat', sans-serif;
}
.article-content{
  color: #313931;
  font-size:1.2vw;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  padding-left:1.5%;
  display:inline-block;
  width:44vw;

}
.article-content-image-wraper{
  display:inline;
}
.article-content-image{
  vertical-align: top;
  width:15vw;
  height:15vw;
}

.article-footer{
  font-size:0.8vw;
  font-family: 'Montserrat', sans-serif;
  color: #787346;
  text-align:right;

}
.article-content--readMore{
  font-size:1vw;
  color: #428BCA;
}

.article-content--readMore:visited{
  color:red;
}

.article-content--readMore:hover,.article-content--readMore:focus{
  text-decoration: underline;
}

@media (max-width:800px){
  .main{
    margin-bottom:5%;
    margin-top:5%;
  }
  .article-wraper{
    width:100%;
  }
  .article-content-image{
    width:20vw;
    height:20vw;
  }
  .article-content{
    width:65vw;
    font-size: 1.5vw;
  }
  .article-title{
    font-size:1.9vw;
  }
  .article-date{
    font-size:1.2vw;
  }
  .article-content--readMore{
    font-size:1.4vw;
  }
  .article-footer{
    padding-top:2.5%;
    font-size:1.2vw;
  }
}

@media (max-width:600px){
  .article-wraper{
    width:100%;
  }
  .article-content-image{
    width:20vw;
    height:20vw;
  }
  .article-content{
    width:65vw;
    font-size: 2vw;
  }
  .article-title{
    font-size:2.4vw;
  }
  .article-date{
    font-size:1.8vw;
  }
  .article-content--readMore{
    font-size:1.9vw;
  }
  .article-footer{
    padding-top:2.5%;
    font-size:1.7vw;
  }
}
@media (max-width:500px){
  .article-content{
    font-size:3vw;
  }
  .article-title {
    font-size: 3.4vw;
  }
  .article-date {
    font-size: 2.8vw;
  }
  .article-content--readMore {
    font-size: 2.9vw;
  }
  .article-footer {
    font-size: 2.7vw;
  }

}
@media (max-width:400px){
  .main{
    padding:0;
    margin:0;
    width:100%;
  }
  .article-wraper{
    margin-top:2.5%;
  }
  .article-content-image{
    width:29vw;
    height:29vw;
  }

}
