.aside{
  float:right;
  width:25%;
  background-color:white;
  padding:25px;
  position:relative;
  margin-top:25px;
}

.aside-title{
  text-transform: uppercase;
  font-size:1.2vw;
  color:#313931;
  font-family: 'bronx';
  text-align:center;
}

.aside-event-container{
  margin:40px 0px 0px 0px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom:25px;
}
.aside-event-container:after{
  content:"";
  display:block;
  width:100%;
  padding-top:12.5px;
  padding-bottom:12.5px;
  background-color:yellow;
  position:absolute;
  left:0;
  margin-top:25px;
  background:#F7F7F7;
}
.aside-event-container:last-child{
  margin-bottom:0;
  padding-bottom: 0;
}

.aside-event-container:last-child:after{
  display:none !important;
}

.event-title{
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  color:  #787346;
  font-size:0.8vw;
  text-align:center;
  width:50%;
  margin:25px auto 0 auto;
}

.event-item{
  margin:10px auto auto auto;
  color:#313931;
  text-transform:uppercase;
  font-size:0.7vw;
  display:block;
  width:50%;
}
.event-item:nth-child(5){
  text-align:center;
  margin-top:40px !important;
}


.event-item-img{
  vertical-align: middle;
  margin-right:25px;
}

.event-item-link{
  padding:10px 40px 10px 40px;
  background:url("./SASS/Resources/preview.jpg");
  border-left: 5px black solid;
  border-bottom:2px black solid;
  color: white;
  font-size:1vw !important;
}

.event-item-link:hover,.event-item-link:focus{
  border:0;
  cursor:pointer;
  font-weight: bold;
}
