.stick-social-container{
  position:fixed;
  right:0px;
  top:50vh;
  width:8%;
  font-size:2vw !important;
  z-index:999;
}

.stick-social-wraper{
  background:white;
  height:8vh;
  width:67%;
  -webkit-border-top-left-radius: 360px;
  -webkit-border-bottom-left-radius: 360px;
  -moz-border-radius-topleft: 360px;
  -moz-border-radius-bottomleft: 360px;
  border-top-left-radius: 360px;
  border-bottom-left-radius: 360px;
  z-index:999;
  background:url('./SASS/Resources/textura.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align:center;
  border-top:5px solid #f5f8f9;
  border-bottom:5px solid #f5f8f9;
  border-left:5px solid #f5f8f9;
  float:right;
}
.stick-social-wraper:last-child{
  margin-top:25px;
}
.stick-social-wraper:hover, .stick-social-wraper:focus{
  width:100%;
}
.stick-social-wraper:hover .stick-social-icon{
   color:#503B18;
}
.stick-social-wraper:focus .stick-social-icon{
   color:#503B18;
}
.stick-social-icon{
  color:white;
  font-family: 'bronx';
  line-height:8vh;
  padding-left:13%;
}

.stick-social-icon a{
  font-size:2.5vw;
}
a .fa{
  font-size:3vw;
  padding:0;
  line-height: 8vh;
}
.stick-social-wraper:hover .stick-social-icon--anotherHeight{
 color:#503B18;
}

.stick-social-wraper:focus .stick-social-icon--anotherHeight{
 color:#503B18;
}



@media (max-width: 900px){
  .stick-social-container{
    width:10%;
  }

}

@media (max-width:700px){
  .stick-social-container{
    width:14%;
  }
  .stick-social-icon a {
  font-size:4.5vw
  }
  a .fa{
    font-size:5vw;
  }
}

@media (max-width:600px){
  .stick-social-container{
    width:18%;
  }
  .stick-social-icon a{
    font-size:6.5vw;
  }
  a .fa{
    font-size: 7vw;
  }
}

@media (max-width:400px){
  .stick-social-container{
    width:22%;
  }
  .stick-social-icon a{
    font-size:8.5vw;
  }
  a .fa{
    font-size: 9vw;
  }
}
